.proyectos {
  width: 100%;
  padding: 1rem;
  background: var(--fondo-proyecto);
}

.galeria-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: inter;
  gap: 3rem;
  margin-top: 1rem;
}
.proyecto img {
  width: 300px;
  height: 300px;
  object-fit: cover; 
  border-radius: 4px;
}
.proyecto {
  background-color: rgb(59, 3, 45);
  border: 0.5px solid #020002;
  border-radius: 5px;
  padding: 15px;
  width: calc(33% - 40px);
  box-shadow: 0 2px 5px rgb(231, 174, 174);
  color:white;
  
}